{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 30px; color: black; font-weight: bold">XO BANK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

<li class="nav-item">
    <a href="register" class="btn btn-light" style="padding-left: 20px; padding-right: 20px; margin-right: 10px;">REGISTER</a>
</li>
<li class="nav-item">
    <a href="login" class="btn btn-light" style="padding-left: 20px; padding-right: 20px;">LOGIN </a>
</li>

          <div class="dropdown show" style="padding-left: 350px; padding-top: 10px; font-size: 17px;">
  <div class="dropdown show" style="padding-left: 270px; padding-top: 10px; font-size: 17px; font-family: Arial, sans-serif;">
        <select id="branches" onChange="window.location.href=this.value">
          <option value="">BRANCHES</option>
          <option value="https://en.wikipedia.org/wiki/Wayanad_district">Wayanad</option>
          <option value="https://en.wikipedia.org/wiki/Kozhikode">Calicut</option>
          <option value="https://en.wikipedia.org/wiki/Kannur">Kannur</option>
          <option value="https://en.wikipedia.org/wiki/Kasaragod">Kasaragod</option>
          <option value="https://en.wikipedia.org/wiki/Thrissur">Thrissur</option>
        </select>
      </div>

</div>
          </li>


      </ul>
    </div>
  </div>
</nav>

<img class="my_image my_image_padding" src="{% static 'img/mm.jpg' %}" alt="img" style="width: 100%;" height="570px;">
{% endblock %}





